<?xml version='1.0' encoding='utf-8'?>
<plugin id="scandit-cordova-datacapture-barcode"
    version="6.16.2"
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <name>ScanditBarcodeCapture</name>

    <js-module name="Cordova" src="www/js/Cordova/Cordova.js"></js-module>
    <js-module name="Defaults" src="www/js/Cordova/Defaults.js"></js-module>
    <js-module name="BarcodeCaptureListenerProxy"
        src="www/js/Cordova/BarcodeCaptureListenerProxy.js"></js-module>
    <js-module name="BarcodeTrackingListenerProxy"
        src="www/js/Cordova/BarcodeTrackingListenerProxy.js"></js-module>
    <js-module name="BarcodeSelectionProxy"
        src="www/js/Cordova/BarcodeSelectionProxy.js"></js-module>
    <js-module name="BarcodeSelectionListenerProxy"
        src="www/js/Cordova/BarcodeSelectionListenerProxy.js"></js-module>
    <js-module name="BarcodeTrackingBasicOverlayProxy"
        src="www/js/Cordova/BarcodeTrackingBasicOverlayProxy.js"></js-module>
    <js-module name="BarcodeTrackingAdvancedOverlayProxy"
        src="www/js/Cordova/BarcodeTrackingAdvancedOverlayProxy.js"></js-module>

    <js-module name="BarcodeCapture" src="www/js/BarcodeCapture.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeCapture+Related" src="www/js/BarcodeCapture+Related.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="Barcode" src="www/js/Barcode.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeCaptureSettings" src="www/js/BarcodeCaptureSettings.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeTracking" src="www/js/BarcodeTracking.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeTracking+Related" src="www/js/BarcodeTracking+Related.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeTrackingSettings" src="www/js/BarcodeTrackingSettings.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="TrackedBarcodeView" src="www/js/TrackedBarcodeView.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeSelection" src="www/js/BarcodeSelection.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeSelectionSettings" src="www/js/BarcodeSelectionSettings.js">
        <merges target="Scandit" />
    </js-module>
    <js-module name="BarcodeSelection+Related" src="www/js/BarcodeSelection+Related.js">
        <merges target="Scandit" />
    </js-module>

    <engines>
        <engine name="cordova-ios" version=">=5.0.0" />
        <engine name="cordova-android" version=">=7.0.0" />
    </engines>

    <!-- iOS -->
    <platform name="ios">
        <config-file parent="/*" target="config.xml">
            <feature name="ScanditBarcodeCapture">
                <param name="ios-package" value="ScanditBarcodeCapture" />
                <param name="onload" value="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/ScanditBarcodeCapture-Bridging-Header.h" type="BridgingHeader" />

        <source-file src="src/ios/ScanditBarcodeCapture.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeCapture.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeTracking.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeSelection.swift" />
        <source-file src="src/ios/ScanditBarcodeCaptureDefaults.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeCaptureListener.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeCaptureDeserializerDelegate.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeTrackingDeserializerDelegate.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeSelectionDeserializerDelegate.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeTrackingListener.swift" />
        <source-file src="src/ios/ScanditBarcodeCapture+BarcodeSelectionListener.swift" />
        <source-file
            src="src/ios/ScanditBarcodeCapture+BarcodeTrackingBasicOverlayDelegate.swift" />
        <source-file
            src="src/ios/ScanditBarcodeCapture+BarcodeTrackingAdvancedOverlayDelegate.swift" />
        <source-file src="src/ios/TrackedBarcodesDictionary+Extensions.swift" />
        <source-file src="src/ios/BlockingCallbackResults.swift" />
        <source-file src="src/ios/TappableBase64ImageView.swift" />
        <source-file src="src/ios/CommandJSONArgument+ScanditBarcodeCapture.swift" />

        <dependency id="scandit-cordova-datacapture-core" version="6.16.2" />

        <framework src="ScanditBarcodeCapture" spec="= 6.16.2" type="podspec" />
    </platform>

    <!-- Android -->
    <platform name="android">

        <config-file parent="/*" target="config.xml">
            <preference name="android-minSdkVersion" value="23" />
            <feature name="ScanditBarcodeCapture">
                <param name="android-package"
                    value="com.scandit.datacapture.cordova.barcode.ScanditBarcodeCapture" />
            </feature>

        </config-file>

        <source-file src="src/android/ScanditBarcodeCapture.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode" />
        <!-- Factories -->
        <source-file src="src/android/factories/BarcodeCaptureActionFactory.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/factories" />
        <!-- Callbacks -->
        <source-file src="src/android/callbacks/BarcodeCallbackContainer.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/callbacks" />
        <source-file src="src/android/callbacks/BarcodeCaptureCallback.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/callbacks" />
        <source-file src="src/android/tracking/callbacks/BarcodeTrackingCallback.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/tracking/callbacks" />
        <source-file src="src/android/tracking/callbacks/BarcodeSelectionCallback.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/tracking/callbacks" />
        <source-file src="src/android/tracking/callbacks/BarcodeTrackingBasicOverlayCallback.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/tracking/callbacks" />
        <source-file src="src/android/tracking/callbacks/BarcodeTrackingAdvancedOverlayCallback.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/tracking/callbacks" />
        <!-- Handlers -->
        <source-file src="src/android/handlers/BarcodeCaptureHandler.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/handlers" />
        <source-file src="src/android/tracking/handlers/BarcodeSelectionHandler.kt"
             target-dir="kotlin/com/scandit/datacapture/cordova/barcode/tracking/handlers" />
        <source-file src="src/android/tracking/handlers/BarcodeTrackingHandler.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/tracking/handlers" />
        <source-file src="src/android/tracking/handlers/BarcodeTrackingBasicOverlayHandler.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/tracking/handlers" />
        <source-file src="src/android/tracking/handlers/BarcodeTrackingAdvancedOverlayHandler.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/tracking/handlers" />
        <!-- Actions -->
        <source-file src="src/android/actions/ActionInjectDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeBarcodeCapture.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeBarcodeTracking.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionFinishCallback.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeBasicOverlay.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeAdvancedOverlay.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSetBrushForTrackedBarcode.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionClearTrackedBarcodeBrushes.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionClearTrackedBarcodeViews.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSetViewForTrackedBarcode.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSetOffsetForTrackedBarcode.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSetAnchorForTrackedBarcode.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionUnfreezeCameraInBarcodeSelection.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionSubscribeBarcodeSelection.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionGetCountForBarcodeInBarcodeSelectionSession.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionResetBarcodeSelection.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionResetBarcodeCaptureSession.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionResetBarcodeTrackingSession.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <source-file src="src/android/actions/ActionResetBarcodeSelectionSession.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/actions" />
        <!-- Data -->
        <source-file src="src/android/data/defaults/SerializableBarcodeDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data/defaults" />
        <source-file src="src/android/data/defaults/SerializableBarcodeSelectionDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data/defaults" />
        <source-file src="src/android/data/SerializableBarcodeSelectionSessionData.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data" />
        <source-file src="src/android/data/defaults/SerializableBarcodeCaptureDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data/defaults" />
        <source-file src="src/android/data/defaults/SerializableBarcodeCaptureOverlayDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data/defaults" />
        <source-file src="src/android/data/defaults/SerializableBarcodeCaptureSettingsDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data/defaults" />
        <source-file src="src/android/data/defaults/SerializableSymbologySettingsDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data/defaults" />
        <source-file src="src/android/data/defaults/SerializableBarcodeTrackingDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data/defaults" />
        <source-file src="src/android/data/defaults/SerializableTrackingBasicOverlayDefaults.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data/defaults" />
        <source-file src="src/android/data/SerializableFinishBasicOverlayCallbackData.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data" />
        <source-file src="src/android/data/SerializableAdvancedOverlayData.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data" />
        <source-file src="src/android/data/SerializableBrushAndTrackedBarcode.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/data" />
        <!-- Utils -->
        <source-file src="src/android/utils/FinishCallbackHelper.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/utils" />
        <source-file src="src/android/utils/AdvancedOverlayViewPool.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/utils" />
        <!-- Errors -->
        <source-file src="src/android/errors/ErrorTrackedBarcodeNotFound.kt"
            target-dir="kotlin/com/scandit/datacapture/cordova/barcode/errors" />

        <dependency id="scandit-cordova-datacapture-core" version="6.16.2" />

        <framework custom="true" src="src/android/build.gradle" type="gradleReference" />

        <hook src="src/hooks/support-kotlin.js" type="after_plugin_install" />
    </platform>

</plugin>
